/* Responsive Design */
@media (max-width: 768px) {
    .skills {
        flex-direction: column;
    }

    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    h2 {
        font-size: 1.5em;
    }

    .container {
        width: 95%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: 0.9em;
    }

    h2 {
        font-size: 1.2em;
    }

    .job {
        padding: 10px;
    }

    .skill-list {
        padding-left: 10px;
    }
}
